# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.ipch
*.vcxproj
*.obj
Debug/Euler Problems.exe
*.ipch
*.tlog
*.exe
*.db
*.obj
*.vspx
*.vsp
*.psess
.vs/Euler Problems/v15/.suo
.vs/Euler Problems/v15/Browse.VC.db
